body {
    padding-top: 70px;
    background-color:#333;
}

.page-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #eee;
    white-space: nowrap;
    text-align:center;
    letter-spacing:0.2em;
}

.navbar-brand {
    font-family: 'Dancing Script', cursive;
    font-size:2.5em;
}

.container {
    padding:15px;
    max-width:98%;
    margin:auto;
}

.btn {
    margin:15px;
    font-size:1.25em;
}

.btn:hover {
    box-shadow:inset 0px 0px 10px skyblue;
}

.contact-list {
    font-size: 1.25em;
    text-align: left;
    min-height:300px;
    margin-top:20px;
}

.contact-display-panel {
    margin-top:20px;
    min-height:300px;
}

.contact-display-items {
    margin:5px auto;
    list-style: none;
    border-bottom:solid 2px #eee;
    padding: 7px;
    font-size: 1.25em;
}

.fades.ng-hide-add, .fades.ng-hide-remove {
  transition: all linear 0.5s;
}

.fades.ng-hide {
  opacity: 0;
}