/* New stylesheet for HTML-challenge */

/*    

 'Quicksand'
'Rammetto One'
*/

html {
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
    font-size:1.1em;
    font-family: sans-serif;
    background: url("img/seaBG.png") #729cbf;
    background: url('img/seaBG.png') #729cbf repeat-x;
    background-size: auto 100%;
    overflow-y:scroll;
}

header {
    text-align:center;
    font-family:'cursive';
    color: #355367;
}

header img {
	margin:auto;
	width:50%;
	max-width:60%;
}

h1, h2, h3, h4, h5, h6 {
	text-align:center;
    font-family:'Rammetto One', 'cursive';
    color: #355367;
}

li span {
	font-weight:900;
}

#main-container {
    width:90%;
    margin:0 auto;
}

.left-column {
	width:200px;
	max-width:25%;
	margin:10px auto;
    float:left;
}

.right-column {
    width:200px;
	max-width:25%;
	margin:10px auto;
    float:left
}

aside {
    float:right;

}

footer {
    width:100%;
	position:absolute;
	bottom:0;
	text-align:center;
}


.sea {
  position: absolute;
  z-index: 9;
  bottom: 0;
  left: 0;
  padding: 0;
  width: 100%;
}
